@font-face {
  font-family: 'GoyangIlsan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
}
body {
  margin: 0;
}
.title {
  position: relative;
  margin: 0 auto 20px;
  width: 900px;
  margin-top: 130px;
  font-size: 27px;
  font-weight: bold;
}
.swiper-container {
  width: 840px;
  height: 260px;
  overflow: hidden;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
.spot-image-container {
  position: relative;
  left: 20%;
  right: 20%;
  width: 60%;
}
.spot-image-wrapper {
  border-radius: 50%;
  border-color: white;
  margin-bottom: 30px;
  margin-top: 20px;
  overflow: hidden;
  display: grid;
  place-items: center;
}
.spot-image {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}
.spot-name {
  text-align: center;
  font-size: large;
  margin: 0px;
  font-weight: bold;
}
.spot-subname {
  background-color: white;
  text-align: center;
  font-weight: 530;
  color: #333333;
  margin: 0px;
}
header {
  height: 90px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  align-items: center;
  display: grid;
}
.clearfix {
  content: '';
  height: 90px;
  display: block;
  clear: both;
}
.nav-wrapper {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.nav-logo {
  font-size: 30px;
  font-family: 'Sansita Swashed', cursive;
  margin-right: 80px;
}
.nav-menu {
  list-style-type: none;
}
.nav-item {
  display: inline-block;
}
.nav-item a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  padding: 0 40px;
  display: block;
}
.main-description-container {
  height: 430px;
  background-color: #e9edf6;
  /* background-color: #f7f9fc; */
  width: 100%;
  padding: 0;
}
.main-description-text-wrapper {
  width: 100%;
  height: 37%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main-description-text {
  font-size: 20px;
  line-height: 150%;
  font-family: 'GoyangIlsan';
}
.main-description-image {
  width: 100%;
  height: 63%;
  object-fit: contain;
}
.spot-page-info {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  /* background-color: lavender; */
}
.spot-page-info-head-text {
  margin-left: auto;
  margin-right: auto;
  width: 710px;
  margin-bottom: 0;
  font-size: 23px;
  margin-bottom: 10px;
  font-family: 'Sansita Swashed', cursive;
}
.spot-page-info-body-text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 710px;
  font-size: 23px;
  font-family: 'GoyangIlsan';
}
.spot-list-container {
  display: flex;
  justify-content: center;
}
.spot-list {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 150px;
}
.spot-list-item-wrapper {
  height: 120px;
  width: 710px;
  margin-top: 30px;
  display: flex;
  border-radius: 10px;
  background-color: #f7f9fc;
}
.spot-list-item {
  padding: 15px;
  display: block;
  height: auto;
  width: 100%;
}
.spot-list-item-image-wrapper {
  height: 100%;
  float: left;
}
.spot-list-item-image {
  height: 100%;
  object-fit: fill;
  border-radius: 90%;
}
.spot-list-item-descript {
  margin-left: 20px;
  display: inline-block;
}
.spot-name {
  font-size: 20px;
}
.spot-period {
  font-size: 16px;
}
.page-article-container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
}
.page-title-text {
  margin-left: auto;
  margin-right: auto;
  width: 710px;
  margin-top: 100px;
  margin-bottom: 10px;
  font-family: 'Sansita Swashed', cursive;
  font-size: 23px;
}
.page-body-text {
  font-family: 'GoyangIlsan';
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 710px;
  font-size: 23px;
  line-height: 130%;
}
.move-top-button {
  opacity: 0;
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 35px;
  right: 35px;
  cursor: pointer;
}
.move-top-image {
  object-fit: cover;
  width: 100%;
}
.log-container {
  width: 900px;
  display: grid;
  margin: 0 auto;
  grid-template-rows: 130px 130px;
  gap: 25px;
  /* FIXME */
  margin-bottom: 100px;
}
.log-item {
  height: 130px;
  width: 100%;
  border-radius: 10px;
  background-color: #f7f9fc;
  display: flex;
  text-decoration: none;
  color: black;
}
.log-item-image {
  width: 240px;
  height: 130px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.log-item-text-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}
.log-item-title {
  margin: 0;
  font-size: 19px;
  font-weight: 600;
}
.log-item-content {
  font-size: 16px;
  padding-top: 7px;
  line-height: 160%;
  color: #444444;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.travel-log-container {
  display: grid;
  width: 710px;
  padding: 10px;
  margin: 0 auto;
  grid-template-columns: 230px 230px 230px;
  grid-template-rows: 300px 300px 300px;
  gap: 30px 15px;
  margin-top: 20px;
}
.travel-log-container a {
  /* background-color: #f0f0f0; */
  text-decoration: none;
}
.travel-log-item-image {
  width: 230px;
  height: 172.5px;
  object-fit: cover;
}
.travel-log-item-title {
  color: black;
  font-weight: 600;
  font-size: 17px;
  line-height: 150%;
  margin: 8px 3px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.travel-log-item-content {
  font-size: 13px;
  margin: 5px 3px 5px;
  color: #444444;
  line-height: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.photo-container {
  display: grid;
  width: 710px;
  margin: 0 auto;
  grid-template-columns: 234px 234px 234px;
  grid-template-rows: 234px 234px 234px;
  gap: 4px 4px;
  margin-top: 20px;
  margin-bottom: 150px;
}
.photo-item {
  width: 234px;
  height: 234px;
  object-fit: cover;
}
