@font-face {
  font-family: 'GoyangIlsan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
}
body {
  margin: 0;
}
.title {
  position: relative;
  left: 15%;
  right: 15%;
  width: 70%;
  margin-top: 130px;
  font-size: 25px;
  font-weight: bold;
}
.swiper-container {
  position: relative;
  left: 15%;
  right: 15%;
  width: 70%;
  height: 260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0px;
  overflow: hidden;
}
.spot-image-container {
  position: relative;
  left: 20%;
  right: 20%;
  width: 60%;
}
.spot-image-wrapper {
  border-radius: 50%;
  border-color: white;
  margin-bottom: 30px;
  margin-top: 20px;
  overflow: hidden;
  display: grid;
  place-items: center;
}
.spot-image {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}
.spot-name {
  text-align: center;
  font-size: large;
  margin: 0px;
  font-weight: bold;
}
.spot-subname {
  background-color: white;
  text-align: center;
  margin: 0px;
}
header {
  height: 90px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  align-items: center;
  display: flex;
}
.clearfix {
  content: '';
  height: 90px;
  display: block;
  clear: both;
}
.nav-wrapper {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.nav-logo {
  font-size: 30px;
  font-family: 'Sansita Swashed', cursive;
  margin-right: 80px;
}
.nav-menu {
  list-style-type: none;
}
.nav-item {
  display: inline-block;
}
.nav-item a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  padding: 0 40px;
  display: block;
}
.main-description-container {
  height: 430px;
  background-color: #e9edf6;
  /* background-color: #f7f9fc; */
  width: 100%;
  padding: 0;
}
.main-description-text-wrapper {
  width: 100%;
  height: 37%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main-description-text {
  font-size: 22px;
  line-height: 150%;
  font-family: 'GoyangIlsan';
}
.main-description-image {
  width: 100%;
  height: 63%;
  object-fit: contain;
}
.spot-page-info {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  /* background-color: lavender; */
}
.spot-page-info-head-text {
  margin-left: auto;
  margin-right: auto;
  width: 660px;
  margin-bottom: 0;
  font-size: 23px;
  margin-bottom: 10px;
  font-family: 'Sansita Swashed', cursive;
}
.spot-page-info-body-text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 660px;
  font-size: 23px;
  font-family: 'GoyangIlsan';
}
.spot-list-container {
  display: flex;
  justify-content: center;
}
.spot-list {
  /* background-color: red; */
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 150px;
}
.spot-list-item-wrapper {
  height: 120px;
  width: 660px;
  margin-top: 30px;
  display: flex;
  border-radius: 10px;
  background-color: #f7f9fc;
}
.spot-list-item {
  padding: 15px;
  display: block;
  height: auto;
  width: 100%;
}
.spot-list-item-image-wrapper {
  height: 100%;
  float: left;
}
.spot-list-item-image {
  height: 100%;
  object-fit: fill;
  border-radius: 90%;
}
.spot-list-item-descript {
  margin-left: 20px;
  display: inline-block;

  /* height: 100px; */
}
.spot-name {
  font-size: 23px;
}
.spot-period {
  font-size: 16px;
}
